* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    /* height: 100vh; */
}

.hero {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}

.hero * {
    margin: auto
}

.hero-logo {
    margin: auto;
}

.link-one {
    margin-left: auto;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #1f2937;
}

.header-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    color: #f9faf8;
    padding: 8px;
}

.header-text .main-text {
    font-size: 48px;
    font-weight: bolder;
}

.header-text .subtext {
    font-size: 18px;
    color:#e5e7eb;
}

.header-button {
    width: 300px;
    padding: 8px;
}

.header-button button {
    border-radius: 25px;
    background-color: #3882f6;
    width: 100px;
    height: 50px;
    color: white;
}

.header-image {
    flex: 1;
}

.header-image img {
    width: 70%;
}

.random-info-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.random-info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 250px; */
}

.image-illustration {
    width: 200px;
    padding: 20px;
    text-align: center;
}

.info-image img {
    width: 100%;
}

.quote {
    background-color: #e5e7eb;
    font: 36px lighter italic;
    color: #1f2937;
}

p {
    padding: 50px;
    margin: auto;
    width: 70%;
    text-align: center
}

span {
    font: 24px bolder;
}

.action {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center;  */
    /* margin: 30 auto; */
    height: 150px;
}

.action-box {
    width: 60%;
    height: 60%;
    border: 2px solid white;
    border-radius: 25px;
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.action-call-head {
    font: 24px bolder;
}

.action-call-button button {
    border-radius: 10px;
    border: 2px solid white;
    background-color: #3882f6;
    color: #e5e7eb;
    width: 100%;
    padding: 10px
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 100px;
}

.footer div {
    margin: auto;
}